/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1024px;
  font-size: 14px;
}

/* header */
.header {
  height: 60px;
  background-color: red;
}

.nav_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 12px;
  list-style: none;
}

.nav_bar li {
  margin: 0 12px;
}

/* main */
.main {
  position: relative;
  height: calc(100vh - 60px - 80px);
  background-color: blue;
}

.box_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: yellow;
}

.logo {
  margin: auto;
}

.search {
  display: inline-block;
  position: relative;
  margin: auto;
}

.search::before {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  content: '';
  width: 10px;
  height: 10px;
  background-color: red;
}

.search input {
  width: 550px;
  height: 36px;
  padding: 5px 30px;
  border-radius: 26px;
}

.box_btn {
  margin: 20px 0;
}

.btn {
  margin: 0 10px;
  padding: 10px;
  background-color: grey;
}

/* footer */
.footer {
  height: 80px;
  background-color: pink;
}

.country {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  background-color: green;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  background-color: yellow;
}
